.*
*.conf
*.crt
*.csr
*.key
*.log
*.pem
*.pid
*.xml

core.*
home-assistant*
secrets.*

/deps/
/gh-pages/
/tts/

/www/
!/www/custom-lovelace/

!/.bin/
!.gitignore
!.gitkeep
!.travis.yml

ip_bans.yaml
google_calendars.yaml
known_devices.yaml

/lovelace/links_card.yaml

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
