.*
*.pid
*.xml
*.csr
*.crt
*.key
*.log
*.conf

core.*
secrets.*
home-assistant*

__pycache__/
/deps/
/tts/
/ssh/
/www/github/

!.gitkeep
!.gitignore

ip_bans.yaml
google_calendars.yaml
known_devices.yaml
