.*
*.conf
*.crt
*.csr
*.key
*.log
*.pem
*.pid
*.xml

core.*
home-assistant*
secrets.*

__pycache__/
/deps/
/gh-pages/
/tts/

/www/
!/www/custom-lovelace

!.gitignore
!.gitkeep

ip_bans.yaml
google_calendars.yaml
known_devices.yaml

/lovelace/links_card.yaml
